*
{
    margin: 0;
    padding: 0%;
    font-family: consolas;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;

}
section h2
{
    font-size: 10em;
    animation: rainbow 10s infinite;

}

section span
{
   position: absolute;
   top: -50px;
   background: transparent;
   border-radius: 50%;
   pointer-events: none;
   animation: animate 5s linear infinite;
}


@keyframes animate
{
  0%{
      box-shadow: inset 0 0 10px orange;
      opacity: 0.5;
      transform: translateY(0%);
  }	
  10%{
      box-shadow: inset 0 0 10px purple;
      opacity: 0.5;
    }	
  20%{
      box-shadow: inset 0 0 10px red;
      opacity: 0.5;
    }
  30%{
      box-shadow: inset 0 0 10px  CadetBlue;
      opacity: 0.5;
    }
  40%{
      box-shadow: inset 0 0 10px  yellow;
      opacity: 0.5;
    }
  50%{
      box-shadow: inset 0 0 10px  coral; 
      opacity: 0.5;
  }
  60%{
    box-shadow: inset 0 0 10px  green;
    opacity: 0.5;
  }
  70%{
      box-shadow: inset 0 0 10px  cyan;
      opacity: 0.5;
    }
  80%{
      box-shadow: inset 0 0 10px  DeepPink;
      opacity: 0.5;
    }
  90%{
      box-shadow: inset 0 0 10px  DodgerBlue; 
      opacity: 0.5;
  }
  100%{
      box-shadow: inset 0 0 10px  orange; 
      transform: translateY(1080px);
      opacity: 1;
  }
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}
